{% extends 'dashboard/base_dashboard.html' %}

{% block tab_content %}
{% include 'dashboard/tabs/agenda_tab.html' %}
{% include 'dashboard/tabs/pacientes_tab.html' %}
{% include 'dashboard/tabs/prontuarios_tab.html' %}
{% include 'dashboard/tabs/prescricao_tab.html' %}
{% include 'dashboard/tabs/indicadores_tab.html' %}
{% include 'dashboard/tabs/finance_tab.html' %}
{% include 'dashboard/tabs/relatorios_tab.html' %}
{% include 'dashboard/tabs/waitlist_tab.html' %}
{% include 'dashboard/tabs/settings_tab.html' %}
{% endblock %}
